<h1>City Page</h1>

{{#each result}}
  <div class="event-card">
    <h2>{{eventName}}</h2>
    <img src="{{image}}" class="description-image" alt="" />
    <a href="/events/{{_id}}">More Details</a>
  </div>
{{/each}}