<h1>Create Event</h1>
<div>
  <form action="/add-event" method="POST" enctype="multipart/form-data">
    <label for="">
      Event Name
      <input type="text" name="eventName" />
    </label>
    <label for="">
      Description
      <input type="text" name="description" />
    </label>
    <label for="">
      Category
      <input type="text" name="category" />
    </label>
    <label for="">
      Price
      <input type="text" name="price" />
    </label>
    <label for="">
      Image
      <input type="file" name="image" />
    </label>
    <label for="">
      City
      <input type="text" name="city" />
    </label>
    <button type="submit">Create Event</button>
  </form>
</div>