<div class="create-event-form">
  <h2>Create Event</h2>
  <form action="/add-event" method="POST" enctype="multipart/form-data">
    <label for="eventName">
      Event Name
      <input type="text" name="eventName" placeholder="Enter event name" />
    </label>
    <label for="description">
      Description
      <textarea
        name="description"
        rows="5"
        cols="30"
        placeholder="Enter description"
      ></textarea>
    </label>
    <label for="category">
      Category
      <select id="category" name="category">
        <option value="Sightseeing">Sightseeing</option>
        <option value="Concert">Concert</option>
        <option value="Food">Food</option>
        <option value="Festival">Festival</option>
        <option value="Shopping">Shopping</option>
      </select>
    </label>
    <label for="price">
      Price
      <input type="text" name="price" placeholder="Enter event price" />
    </label>
    <label for="image">
      Image
      <input type="file" name="image" />
    </label>
    <label for="city">
      City
      <select id="city" name="city">
        <option value="London">London</option>
        <option value="New York">New York</option>
        <option value="Mumbai">Mumbai</option>
      </select>
    </label>
    <button type="submit">Create Event</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}

  </form>
</div>