<h1>Browse events</h1>

<div class="event-container">

  {{#each events}}
    <div class="event-card">
      <h2>{{eventName}}</h2>
      <img src="{{image}}" alt="" />
      <h5>Description: {{description}}</h5>
      <a href="/events/{{_id}}">More Details</a>
    </div>
    <br />
  {{/each}}

</div>