<h1>This is the page to create a trip</h1>

{{#if userInSession}}
  <h2>Welcome, {{ userInSession.firstName }}!</h2>
  <button>
    <a href="/">Add Event</a>
  </button>
  <button>
    <a href="/">Submit Trip</a>
  </button>
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}