
<h1>My Trips page</h1>



  <h1>Choose a trip below</h1>



    {{#each trips}} 
    <option value="{{_id}}">{{tripName}} </option>
    {{/each}}
  </select>
    <button >See Trip</button>


    </div>
  </div>


<p>see my trips 
see the users by referencing an array </p>