<h1>My Trips page</h1>



  <h1>Choose a trip below</h1>


<select>
    {{#each trips}} 
    <option value="{{this._id}}">{{this.tripName}} </option>
    {{/each}}
  </select>
    <button > <a href="/trips/{{_id}}">See Trip</a></button>


    </div>
  </div>


<p>see my trips 
see the users by referencing an array </p>