<h1>My Trips</h1>

{{#each trips}}
  <h3>{{this.tripName}}</h3>
  <h4>{{this.description}}</h4>
  <button><a href="/trips/{{_id}}">Trip Itinerary</a></button>
  <form id="delete-form" action="/trips/{{_id}}/delete" method="POST">
    <button>Delete Trip</button>
  </form>
{{/each}}